* {
  width: auto;
}
h1 {
  font: bold 30px bahnschrift;
}
h2 {
  font: bold 20px bahnschrift;
}
h3 {
  font: bold 15px bahnschrift;
}

body {
  background-color: #f4041d;
}
p {
  font: lighter 15px bahnschrift;
}
a {
  font: 20px bahnschrift;
}
li {
  font: lighter 15px bahnschrift;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.banner {
  display: flex;
  width: 50%;
  margin: 20px;
}
.menu {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.menu li {
  display: inline;
  padding: 10px;
  list-style: none;
  text-align: left;
  color: white;
  text-decoration: underline;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #d80016;
}
.menu li:hover {
  background-color: white;
  color: red;
  border: 1px solid goldenrod;
}
.group {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: left;
  margin: 0px;
  padding: 20px;
}
.news {
  border: 1px solid white;
  margin: 20px;
  padding: 20px;
  width: 350px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.flex-grp {
  display: flex;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: auto;
  margin: 10px;
}
.aside {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid black;
  border-radius: 10px;
  width: auto;
  margin: 10px;
}
.table {
  background-color: rgb(187, 186, 186);
  border: black solid 1px;
  padding: 10px;
}
.table tr,
th,
td {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
.retroimg {
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  width: 95%;
  margin-left: 10px;
}

.news:hover {
  background-color: rgb(241, 211, 127);
}
.img {
  width: 350px;
  height: auto;
  border: 1px solid black;
}
.footer {
  border: 1px solid darkred;
  padding: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  width: auto;
  text-align: center;
  font: bold bahnschrift;
}
.footer ul,
h2 {
  text-align: left;
}
